@import url(https://fonts.googleapis.com/css?family=Khula:700);

body {
  background: #111111dc;
  background-image: url('tebg.png');
  margin: 0;
}
.hidden {
  opacity:0;
}
.console-container {
 
  font-family:Khula;
  margin: auto;
  font-size:4em;
  text-align:center;
  height:200px;
  width:600px;
  display:block;
  position:relative;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
.console-underscore {
  display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}

.contenedor-principal{
    height: 15em;
    /* background: #111111d2; */
    padding-top: 5em;
    width: 100%;
}
.contenedor2{
    background-image: url('tebg.png');
    /* background: #ffffff; */
    height: 70vh;
    width: 100%;
}


body{
    font-family: 'Homemade Apple';
    background-color:white;
  }
  .back-frame{
    background-color:pink;
    width:400px;
    height:500px;
    margin-left:200px;
    margin-top:20px;
    margin-right:200px;
    display:inline-block;
    position:relative;
  }
  .pin{
    background-color:#CD853F;
    height:100px;
    width:50px;
    top:0px;
    left:180px;
    margin-left:auto;
    margin-right:auto;
    z-index:99;
    position:absolute;
  }
  .photo-frame{
    position:absolute;
    top:100px;
    display:inline-block;
    transform: rotate(5deg);
    background-color:rgb(241, 241, 241);
    border: .1px solid #11111123;
    height:379px;
    width:316px;
    /* left: 50em; */
    top: 28em;
    left: 50vw;
    margin-left:50px;
    margin-right:50px;
    box-shadow: 3px 3px 3px 2px gray;
    text-align:center;
  }

  /* @media only screen and (max-width:1300px) {
    .photo-frame{
        top: 20em;
        left: 20em;
    }
  }

  @media only screen and (max-width:1600px) {
    .photo-frame{
        top: 27em;
        left: 40em;
    }
  }

  @media only screen and (max-width:1700px) {
    .photo-frame{
        top: 27em;
        left: 45em;
    }
  } */

  .description{
    transform: rotate(-3deg);
    font-size:26px;
    font-family: 'Homemade Apple';
    margin-top:10px;
  }
  
  .photo-frame:hover{
    transform: rotate(-5deg);
    cursor: pointer;
  
  }
  .photo-inner{
    height:280px;
    width:280px;
    background-image: url("https://peopledotcom.files.wordpress.com/2017/11/harry-meghan-15.jpg?crop=0px%2C0px%2C2000px%2C1050px&resize=1200%2C630");
    background-size:cover;
    position: relative;
    background-position: center center;
    margin-top:18px;
    margin-left:18px;
    margin-right:18px;
  }
  .layer {
      background-color: rgba(248, 247, 216, 0.9);
      position: absolute;
      background-image: url("water-park.jpg");
      background-size: 13.4em;
      background-repeat: no-repeat;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: background-color .8s;
    
  }
  
  
  .photo-frame:hover .layer{
      background-color: rgba(248, 247, 216, 0);
      transition: background-color 1.2s;
      cursor: pointer;
  }
  .layer:blur {
      background-color: rgba(248, 247, 216, 0.9);
      transition: background-color .8s;
      cursor: pointer;
  }
  
  


* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  html, body {
    height:100%;
  }
  
  .main{
    height: 50em;
    width: 100%;
  }

  body {
    margin:0;
    background:#14b5d1;
    font-size:1.3em;
    color:#333;
    font-family:'Open Sans', sans-serif;
  }
  
  section {
    float:left;
    width:100%;
    background:#fff;
    position:relative;
    box-shadow:0 0 5px 0px #333;
  }
  
  
  /* the important styles */
  
  .arrow-wrap {
    position:absolute;
    z-index:1;
    left:50%;
    top:-5em;
    margin-left:-5em;
    background:#111;
    width:10em;
    height:10em;
    padding:4em 2em;
    border-radius:50%;
    font-size:0.5em;
    display:block;
    box-shadow:0px 0px 5px 0px #333;
  }
  
  .arrow {
    float:left;
    position:relative;
    width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 3em 3em 0 3em;
  border-color: #ffffff transparent transparent transparent;
    -webkit-transform:rotate(360deg)
  }
  
  .arrow:after {
    content:'';
    position:absolute;
    top:-3.2em;
    left:-3em;
    width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 3em 3em 0 3em;
  border-color: #111 transparent transparent transparent;
    -webkit-transform:rotate(360deg)
  }
  
  
  .hint {
    position:absolute;
    top:0.6em;
    width:100%;
    left:0;
    font-size:2em;
    font-style:italic;
    text-align:center;
    color:#fff;
    opacity:0;
  }
  
  
  .arrow-wrap:hover .hint {
    opacity:1;
  }
  
  
    @-webkit-keyframes arrows {
      0% { top:0; }
      10% { top:12%; }
      20% { top:0; }
      30% { top:12%; }
      40% { top:-12%; }
      50% { top:12%; }
      60% { top:0; }
      70% { top:12%; }
      80% { top:-12%; }
      90% { top:12%; }
      100% { top:0; }
    }
    
    .arrow-wrap .arrow {
      -webkit-animation: arrows 2.8s 0.4s;
      -webkit-animation-delay: 3s;
    }
  
  
  
  
  
  /*  this is the unimportant CSS used just to layout the content  */
  
  
  
  header {
    float:left;
    width:100%;
    padding:2em 4em;
    color:#fff;
    height:calc(100% - 3em);
  }
  
  header h1 {
    margin:0;
  }
  header h3 {
    margin:0;
    color: #56dcee ;
  }
  
  header a {
    color:#56dcee;
    opacity:0.5;
    text-decoration:none;
  }
  
  header a:hover {
    color:#333;
    opacity:1;
  }
  
  
  .content {
    float:left;
    width:70%;
    margin:0 15%;
    padding:2em 0;
  }
  
  h1 {
    font-family:'Maven Pro', sans-serif;
    font-weight:300;
    font-size:2.4em;
  }
  
  h2, h3 {
    font-family:'Maven Pro', sans-serif;
    font-weight:300;
    font-size:1.5em;
    margin-top:2em;
  }
  
  pre {
    background:#ededed;
    padding:1em;
  }
  
  p {
    color:#555;
    font-size:0.9em;
  }
  
  p a {
    color:#14b5d1;
    text-decoration:none;
  }
  

  @media only screen and (max-width:1466px) {
    .photo-frame{
      /* top: 65vh; */
      top: 30em;
    }
    .main {
      height: 50.5em;
    }
  }

  @media only screen and (max-width:1323px) {
    .photo-frame{
      /* top: 75vh; */
      top: 34em;
    }

    .main {
      height: 54.5em;
    }
  }

  /* @media only screen and (max-width:1150px) {
    .photo-frame{
      top: 80vh;
    }
  } */

  @media only screen and (max-width:1060px) {
    .photo-frame{
      /* top: 85vh; */
      top: 35em;
    }

    .main {
      height: 56em;
    }
  }

  @media only screen and (max-width:1005px) {
    .photo-frame{
      top: 38em;
      /* left: 45vw; */
    }

    .main {
      height: 59em;
    }
  }

  @media only screen and (max-width:850px) {
    .photo-frame{
      top: 40em;
      left: 45vw;
    }

    .main {
      height: 61em;
    }
  }

  @media only screen and (max-width:845px) {
    .photo-frame{
      top: 42em;
      left: 45vw;
    }

    .main {
      height: 63em;
    }
  }

  @media only screen and (max-width:775px) {
    .photo-frame{
      top: 49em;
      left: 25vw;
    }

    .main {
      height: 70em;
    }
  }

  @media only screen and (max-width:724px) {
    .photo-frame{
      top: 52em;
      left: 25vw;
    }

    .main {
      height: 73em;
    }
  }

  @media only screen and (max-width:700px) {
    .photo-frame{
      top: 60em;
      left: 20vw;
    }

    .main {
      height: 81em;
    }
  }

  @media only screen and (max-width:550px) {
    .photo-frame{
      top: 65em;
      left: 10vw;
    }

    .main {
      height: 86em;
    }
  }

  .space{
    height: 20em;
    width: 100%;
  }
  .space p {
    color: transparent;
  }
